{% extends 'base.html' %}
{% block title %}
Tables
{% endblock %}

{% block content %}
<div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        League
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('btts_page', cntry='E023') }}">Premier League</a></li>
        <li><a class="dropdown-item" href="{{ url_for('btts_page', cntry='E123') }}">Championship</a></li>
        <li><a class="dropdown-item" href="{{ url_for('btts_page', cntry='E223') }}">League One</a></li>
    </ul>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Table
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{{ url_for('tables_page', cntry='E023') }}">League</a></li>
        <li><a class="dropdown-item" href="{{ url_for('btts_page', cntry='E023') }}">BTTS</a></li>
        <li><a class="dropdown-item" href="#">TSR</a></li>
        <li><a class="dropdown-item" href="#">Cards</a></li>
    </ul>
</div>
    </div>

<h1>Tables</h1>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <!-- Your Columns HERE -->
<!--        keysList = list(table[0].keys())-->
        <th scope="col">Pos</th>
        {% for t in table[0].keys()%}
            <th scope="col">{{t}}</th>
        {% endfor %}
<!--        <th scope="col">Pos</th>-->
<!--        <th scope="col">Team</th>-->
<!--        <th scope="col">P</th>-->
<!--        <th scope="col">W</th>-->
<!--        <th scope="col">D</th>-->
<!--        <th scope="col">L</th>-->
<!--        <th scope="col">GD</th>-->
<!--        <th scope="col">PTS</th>-->
    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for t in table %}


    <tr>
        <td>{{ t + 1 }}</td>
        {% for k in table[0].keys()%}
            <td>{{table[t].get(k)}}</td>
        {% endfor %}

<!--        <td>{{ t + 1 }}</td>-->
<!--        <td>{{table[t].Team}}</td>-->
<!--        <td>{{ table[t].Played }}</td>-->
<!--        <td>{{ table[t].W }}</td>-->
<!--        <td>{{ table[t].D }}</td>-->
<!--        <td>{{ table[t].L }}</td>-->
<!--        <td>{{ table[t].GD}}</td>-->
<!--        <td>{{ table[t].PTS }}</td>-->
        <!--        <td>-->
        <!--            <button class="btn btn-outline btn-info">Stats</button>-->
        <!--        </td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


