{% extends 'base.html' %}
{% block title %}
Tables
{% endblock %}

{% block content %}
<h1>Premier League Table</h1>
<table class="table table-hover table-dark">
    <thead>
    <tr>
        <!-- Your Columns HERE -->
        <th scope="col">Pos</th>
        <th scope="col">Team</th>
        <th scope="col">P</th>
        <th scope="col">W</th>
        <th scope="col">D</th>
        <th scope="col">L</th>
        <th scope="col">GD</th>
        <th scope="col">PTS</th>
    </tr>
    </thead>
    <tbody>
    <!-- Your rows inside the table HERE: -->
    {% for t in table %}
    <tr>
        <td>{{ t + 1 }}</td>
        <td>{{table[t].Team}}</td>
        <td>{{ table[t].Played }}</td>
        <td>{{ table[t].W }}</td>
        <td>{{ table[t].D }}</td>
        <td>{{ table[t].L }}</td>
        <td>{{ table[t].GD}}</td>
        <td>{{ table[t].PTS }}</td>
<!--        <td>-->
<!--            <button class="btn btn-outline btn-info">Stats</button>-->
<!--        </td>-->
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}


